.ld2l-menu {
	position: fixed;
	width: 10em;
	margin-left: -10em;
	top: 0;
	bottom: 0;
}

.ld2l-layout {
	padding-left: 10em;
}

.ld2l-steam-login {
	float: left;
	height: 18px;
	padding-right: 3px;
}
.ld2l-steam-avatar {
	float: left;
	padding-right: 3px;
}

.ld2l-priv-checkbox {
	text-align: left;
}
