@primary-color: #364652;
@secondary-color: #5a6771;
@accent-1: #99d5c9;
@accent-2: #6c969d;
@accent-3: #645e9d;

a, a:hover, a:visited, a:active {
	color: @accent-3;
	text-decoration: none;
}

.ld2l-title {
	position: relative;
	top: 5px;
	display: inline-block;
}

.ld2l-logo {
	vertical-align: middle;
	width: 40px;
}

.ld2l-menu {
	position: fixed;
	width: 10em;
	margin-left: -10em;
	top: 0;
	bottom: 0;
	background-color: @primary-color;
	color: @accent-2;

	a:hover {
		background-color: @secondary-color;
	}

	a {
		color: @accent-1;
		text-decoration: none;
	}
}

.ld2l-draft-menu {
	position: fixed;
	display: none;
	background-color: @primary-color;
	color: @accent-2;

	border: 1px solid #ccc;

	a:hover {
		background-color: @secondary-color;
	}

	a {
		color: @accent-1;
		text-decoration: none;
	}
}

.ld2l-menu-heading {
	font-size: 125%;
	font-weight: bold;
	color: #fff;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 1em;
}

.ld2l-menu-sep {
	border-top: solid 1px @accent-2;
}

a.ld2l-menu-link {
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

div.ld2l-menu-item {
	color: #fff;
	font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 0.0em;
	padding-left: 0.5em;
	padding-right: 1em;
}

.ld2l-steam {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.ld2l-steam-login {
	float: left;
	height: 18px;
	padding-right: 3px;
}
.ld2l-steam-avatar {
	float: left;
	padding-right: 3px;
}
.ld2l-steam-user {
	margin-left: 35px;
}

.ld2l-layout {
	padding-left: 10em;
}

.ld2l-content {
	padding-left: 1em;
}

.ld2l-priv-checkbox {
	text-align: left;
}

.ld2l-button-primary {
	background-color: @accent-3;
	color: #fff;
}
.ld2l-button-secondary {
	background-color: @accent-2;
	color: #fff;
}

.ld2l-news-title {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.ld2l-news-info {
	font-style: italic;
	font-size: small;
}
.ld2l-news-date {
}
.ld2l-news-author {
}
.ld2l-news {
}
